.root {
	error-color: red;
	multi-button-size: 20;
}

.error-field {
	-fx-text-box-border: error-color;
	-fx-focus-color: error-color;
	-fx-text-fill: error-color;
}

.xml-field .context-menu {
	-fx-padding: 0;
	-fx-background-radius: 8px;
}

.xml-field .context-menu .menu-item {
	-fx-background-color: red;
	-fx-background-radius: 8px;
}

.xml-field .context-menu .menu-item > .label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.xml-multi-field .button {
	-fx-min-width: multi-button-size;
	-fx-max-width: multi-button-size;
	-fx-min-height: multi-button-size;
	-fx-max-height: multi-button-size;
	-fx-background-radius: 50%;
	-fx-padding: 0;
}
